  <% @events.in_groups_of(4) do |g| %>
    <div class="row">
      <% g.compact.each do |e| %>
          <%= render partial: 'card', locals: {event: e} %>
          <% unless e.status %>
            <%= link_to "Publish Event", "/publish/#{e.id}", class: "btn btn-primary" %>
          <% end %>
          <div style="position:absolute;"><%= link_to "Edit Event", edit_event_path(e), class: "btn btn-primary" %></div>
      <% end %>
    </div>
  <% end %>
